{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "amd": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": "off",
    "max-len": "off",
    "consistent-return": "off"
  }
}
